td
{
	text-align:center;
}

tr
{
	text-align:center;
}

tr,td
{
	width:16%;
}

.table,.table2 {
    margin: 0 auto;
	border: 1px solid black;
	border-collapse: collapse;
	width:80%;
	color:black;
  }

body
{
	text-align:center;
	background-color:#E8E8E8 ;
	margin-left:100px;
	margin-right:100px;
}

div
{
	margin-left: auto;
    margin-right: auto;
	width: 100%;
}

.highlight 
{
	color:white;
	background-color:navy;
}

.border
{
	border:1px solid black;
}

div {
    height:100px;
    width:100px;
    display: inline-block;
}

#red {
    background-color:#FF0000;
}

#blue {
    background-color:#0000FF;
}

#yellow {
    background-color:#E2BE22;
}

#green {
    background-color:#008800;
}